.room-icons {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    user-select: none;
    font-size: 50px;
}

.room-icon.unlocked {
    background-color: green;
    opacity: 0.5;
}

.room-icon.active {
    box-shadow: 0 0 0 2px yellow;
    /* border: 2px solid yellow; */
    opacity: 1;
}

.room-icon.locked {
    background-color: red;
    cursor: not-allowed;
}

.arrow-icon {
    font-size: 100px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    user-select: none;
}